<div class="b-example-divider"></div>
    <footer class="py-3 my-4">
        <div class="container" style="padding: 20px;"> </div>
            <div class="col text-center bg-secondary p-2 text-white" style="color: grey;">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Trabaja con Nosotros</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Terminos y Condiciones</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Cuidamos tus Bienes</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Ayuda</a></li>
                </ul>
                    <p>Desarrollado por RUBEN ARREAZA</p>&copy; PROYECTO ARRIENDOS <strong> DESAFIO LATAM 2024</strong>
            </div>
    </footer>
</div>

