.img-logo2 {
    width: 100px; /* Ajusta según tus necesidades */
    height: auto; /* Mantiene la proporción */
    display: block;
    margin: auto;
}

.navbar .container {
    display: flex;
    align-items: center; /* Alinea verticalmente */
}
